root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

[*.{c,h}]
indent_style = space
indent_size = 4

[*.{yml,yaml,json}]
indent_style = space
indent_size = 2

[*.{ts,js,tsx,jsx,css,html}]
indent_style = space
indent_size = 2

[*.md]
trim_trailing_whitespace = false
indent_style = space
indent_size = 2

[*.sh]
indent_style = space
indent_size = 2

[Makefile]
indent_style = tab

[CMakeLists.txt]
indent_style = space
indent_size = 4

[*.nix]
indent_style = space
indent_size = 2

[Dockerfile]
indent_style = space
indent_size = 4

[justfile]
indent_style = space
indent_size = 4

[*.astro]
indent_style = space
indent_size = 2
