#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_configure:
	cmake -B build \
		-DCMAKE_BUILD_TYPE=Release \
		-DCMAKE_INSTALL_PREFIX=/usr \
		-DHU_ENABLE_ALL_CHANNELS=ON \
		-DHU_ENABLE_LTO=ON

override_dh_auto_build:
	cmake --build build -j$$(nproc)

override_dh_auto_install:
	DESTDIR=debian/human cmake --install build

override_dh_auto_test:
	cd build && ./human_tests
