<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.seaclaw.service</string>
	<key>Program</key>
	<string>/Users/sethford/bin/seaclaw</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/sethford/bin/seaclaw</string>
		<string>service-loop</string>
		<string>--with-gateway</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<key>StandardOutPath</key>
	<string>/Users/sethford/.seaclaw/seaclaw.log</string>
	<key>StandardErrorPath</key>
	<string>/Users/sethford/.seaclaw/seaclaw.log</string>
	<key>WorkingDirectory</key>
	<string>/Users/sethford</string>
	<key>ThrottleInterval</key>
	<integer>10</integer>
	<key>ProcessType</key>
	<string>Background</string>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/Users/sethford/bin</string>
	</dict>
</dict>
</plist>
